<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Scrolls Data</title>
    <link rel="stylesheet" href="stylesEditProfile.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
</head>
</head>
<body>
    <!--        Editprofile-->
    <div class = "header">
      <h1>VSAS</h1>
    </div>

    <div class="centeredDiv">
        <h2>Database will go here</h2>
    </div>

    <div class = "row">
      <div class = "columnA">
      <section id="register">
        <h2>Register to access scrolls today!</h2>
          <button type="button"><a href="Profile.html">Return to Profile Page</a></button>
        </form>
      </section>
      </div></div>


</body>
</html>