<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <title>Virtual Scroll Access System</title>
        <link rel="stylesheet" href="../css/index.css">
    </head>
    <body>
<!--        <nav>-->
<!--            <ul>-->
<!--                <li><a href="#login">Login</a></li>-->
<!--                <li><a href="#register">Register</a></li>-->
<!--                <li><a href="#scrolls">View Scrolls</a></li>-->
<!--                <li><a href="#upload">Upload Scroll</a></li>-->
<!--                <li><a href="#admin">Admin Panel</a></li>-->
<!--            </ul>-->
<!--        </nav>-->

    <div id="UI">
        <!--login form-->
        <section id = "login">
            <h1>Virtual Scroll Access System</h1>
            <form id="loginform" action="/api/login" method="POST">
                <label for="username">Username:</label>
                <input type="text" id = "username" name = "username" required><br>
                <label for = "password">Password:</label>
                <input type="text" id = "password" name = "password" required><br>
                <a href='register'>Not a member? Register here!</a><br>
                <button type="submit">Login</button><br>

                <button type="button" onclick="loginAsGuest()">Login as Guest</button><br>
                <button type="button" onclick="loginAsAdmin()">Login as Admin</button><br>
            </form>
        </section>




    </div>
        <script src="index.js"></script>
    </body>
</html>